
body {
  background-color: #f3f4f6;
}

.signup-container {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.left-pane {
  padding: 2rem;
}

.right-pane {
  background-color: #f9fafc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.logo-text {
  font-family: 'Aboreto', cursive;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.form-heading {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
}

.form-label {
  font-weight: 500;
}

.divider {
  text-align: center;
  position: relative;
  margin: 1.5rem 0;
}

.divider::before,
.divider::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background: #ccc;
}

.divider::before {
  left: 0;
}

.divider::after {
  right: 0;
}

.divider span {
  padding: 0 10px;
  background: #fff;
  font-size: 0.9rem;
  color: #666;
}

.google-btn {
  background-color: #dddcdc;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 0.95rem;
}

.google-btn img {
  width: 18px;
}

.error-message{
  color:red;
  font-size: 0.75rem;
  display: none;
}

@media (max-width: 768px) {
  .right-pane {
    display: none;
  }
}
