
body {
  background-color: #f8f9fa;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Arial', sans-serif;
}

.otp-card {
  border-radius: 20px;
  overflow: hidden;
  max-width: 800px;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.otp-left {
  background-color: #f0f0f0;
  text-align: center;
  padding: 2rem 1rem;
}

.otp-left img {
  width: 100%;
  max-width: 250px;
  border-radius: 10px;
}

.brand-name {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.otp-right {
  padding: 2rem;
}

.otp-heading {
  font-family: 'Aclonica', sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.otp-input input {
  width: 400px;
  height: 50px;
  text-align: center;
  font-size: 1.5rem;
  margin-right: 10px;
  border-radius: 8px;
}

.otp-timer {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #888;
}

.confirm-btn {
  background-color: #6c757d;
  color: white;
  border: none;
}

.confirm-btn:hover {
  background-color: #5a6268;
}

.login-link {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #007bff;
  cursor: pointer;
}

.expired {
color: red;
font-weight: bold;
}
#timerValue {
color: red;
font-weight: bold;
}

@media (max-width: 768px) {
  .otp-card {
    flex-direction: column;
  }
}
