
<nav id="adminSidebar" class="admin-sidebar sidebar vh-100 p-3 d-none d-md-block">
  <ul class="nav flex-column">
    <li class="nav-item"><a class="nav-link" href="/admin">Dashboard</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Orders</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Products</a></li>
    <li class="nav-item"><a class="nav-link" href="/admin/category">Categories</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Coupons</a></li>
    <li class="nav-item"><a class="nav-link" href="/admin/customers">Customers</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Sales Reports</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Refund / Return</a></li>
    <li class="nav-item"><a class="nav-link text" href="/admin/logout">Sign Out</a></li>
  </ul>
</nav>
